<%= form_with(model: profile, local: true) do |form| %>
<div class="field">
    <%= form.label :userheight %>
    <%= form.text_field :userheight %>
  </div><br>

  <div class="field">
    <%= form.label :userage %>
    <%= form.text_field :userage %>
  </div><br>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div><br>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

