<p id="notice"><%= notice %></p>

<p>
  <strong>username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>userheight:</strong>
  <%= @user.profile.userheight %>
</p>

<p>
  <strong>userage:</strong>
  <%= @user.profile.userage %>
</p>

<p>
  <strong>usergender:</strong>
  <%= @user.profile.usergender %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
